.start__container {
  text-align: center;

  display: inline;
}

#start {
  background: $bg-color;
  padding-bottom: 100px;
}

.start__container h2 {
  font-weight: 400;
  font-size: 48px;
  line-height: 56px;
  font-family: $font-dm;
  text-align: center;
  letter-spacing: -0.369231px;
  margin-bottom: 40px;
  color: $m;
}

.start__input-l {
  max-width: 900px;
  padding: 20px 200px 20px 50px;
  background: #fbfcfe;
  box-shadow: 10px 10px 25px -10px rgba(54, 83, 107, 0.25);
  border-radius: 28px;
  border: none;
  font-size: 17px;
  margin-left: 230px;
}

.start-btn {
  max-width: 573px;
  padding: 21px 55px;
  background: #ba4270;
  border-radius: 27px;
  font-weight: 700;
  line-height: 18px;
  letter-spacing: -0.115385px;
  color: #fbfcfe;
  border: none;
  cursor: pointer;
  position: relative;
  left: -225px;
  bottom: 1px;
}

@media screen and (max-width: 960px) {
  .start__input-l {
    max-width: 900px;
    padding: 20px 200px 20px 50px;
    background: #fbfcfe;
    box-shadow: 10px 10px 25px -10px rgba(54, 83, 107, 0.25);
    border-radius: 28px;
    border: none;
    font-size: 17px;
    margin-left: 190px;
  }

  .start-btn {
    max-width: 573px;
    padding: 21px 55px;
    background: #ba4270;
    border-radius: 27px;
    font-weight: 700;
    line-height: 18px;
    letter-spacing: -0.115385px;
    color: #fbfcfe;
    border: none;
    cursor: pointer;
    position: relative;
    left: -225px;
    bottom: 1px;
  }
}

@media screen and (max-width: 920px) {
  .start__input-l {
    max-width: 900px;
    padding: 18px 200px 18px 50px;
    background: #fbfcfe;
    box-shadow: 10px 10px 25px -10px rgba(54, 83, 107, 0.25);
    border-radius: 28px;
    border: none;
    font-size: 17px;
    margin-left: 180px;
  }

  .start-btn {
    max-width: 573px;
    padding: 19px 55px;
    background: #ba4270;
    border-radius: 27px;
    font-weight: 700;
    line-height: 18px;
    letter-spacing: -0.115385px;
    color: #fbfcfe;
    border: none;
    cursor: pointer;
    position: relative;
    left: -225px;
    bottom: 1px;
  }
}

@media screen and (max-width: 870px) {
  .start__input-l {
    max-width: 900px;
    padding: 18px 200px 18px 20px;
    background: #fbfcfe;
    box-shadow: 10px 10px 25px -10px rgba(54, 83, 107, 0.25);
    border-radius: 28px;
    border: none;
    font-size: 17px;
    margin-left: 160px;
    position: relative;
    left: 0px;
  }

  .start-btn {
    max-width: 573px;
    padding: 19px 55px;
    background: #ba4270;
    border-radius: 27px;
    font-weight: 700;
    line-height: 18px;
    letter-spacing: -0.115385px;
    color: #fbfcfe;
    border: none;
    cursor: pointer;
    position: relative;
    left: 130px;
    bottom: 56px;
  }
}

@media screen and (max-width: 850px) {
  .start__input-l {
    max-width: 900px;
    padding: 18px 200px 18px 50px;
    background: #fbfcfe;
    box-shadow: 10px 10px 25px -10px rgba(54, 83, 107, 0.25);
    border-radius: 28px;
    border: none;
    font-size: 17px;
    margin-left: 160px;
    position: relative;
    left: -80px;
  }

  .start-btn {
    max-width: 573px;
    padding: 19px 113px;
    background: #ba4270;
    border-radius: 27px;
    font-weight: 700;
    line-height: 18px;
    letter-spacing: -0.115385px;
    color: #fbfcfe;
    border: none;
    cursor: pointer;
    position: relative;
    left: 123px;
    bottom: 56px;
  }
}

@media screen and (max-width: 626px) {
  .start__input-l {
    max-width: 900px;
    padding: 18px 158px 18px 50px;
    background: #fbfcfe;
    box-shadow: 10px 10px 25px -10px rgba(54, 83, 107, 0.25);
    border-radius: 28px;
    border: none;
    font-size: 17px;
    display: flex;
  }

  .start-btn {
    max-width: 573px;
    padding: 19px 40px;
    background: #ba4270;
    border-radius: 27px;
    font-weight: 700;
    line-height: 18px;
    letter-spacing: -0.115385px;
    color: #fbfcfe;
    border: none;
    cursor: pointer;
    display: inline-block;
    border: none;
  }
}

@media screen and (max-width: 560px) {
  .start__input-l {
    max-width: 900px;
    padding: 18px 138px 18px 50px;
    background: #fbfcfe;
    box-shadow: 10px 10px 25px -10px rgba(54, 83, 107, 0.25);
    border-radius: 28px;
    border: none;
    font-size: 17px;
    display: flex;
  }

  .start-btn {
    max-width: 573px;
    padding: 19px 40px;
    background: #ba4270;
    border-radius: 27px;
    font-weight: 700;
    line-height: 18px;
    letter-spacing: -0.115385px;
    color: #fbfcfe;
    border: none;
    cursor: pointer;
    display: inline-block;
    border: none;
  }
}

.start__input-l:focus {
  outline: 0;
}

@media screen and (max-width: 520px) {
  .start__input-l {
    max-width: 900px;
    padding: 18px 130px 18px 20px;
    background: #fbfcfe;
    box-shadow: 10px 10px 25px -10px rgba(54, 83, 107, 0.25);
    border-radius: 24px;
    border: none;
    font-size: 13px;
    display: flex;
  }

  .start-btn {
    max-width: 573px;
    padding: 19px 40px;
    background: #ba4270;
    border-radius: 24px;
    font-weight: 700;
    line-height: 13px;
    letter-spacing: -0.115385px;
    color: #fbfcfe;
    border: none;
    cursor: pointer;
    display: inline-block;
    border: none;
    margin-top: 5px;
  }
}

@media screen and (max-width: 450px) {
  .start__input {
    display: flex;
    flex-direction: column;
  }

  .start__input-l {
    max-width: 220px;
    padding: 15px 10px 15px 14px;
    font-size: 12px;
  }

  .start-btn {
    margin-top: 75px;
    margin-left: -55px;
    max-width: 220px;
    padding: 14px 30px;
  }
}

@media screen and (max-width: 370px) {
  .start__input {
    display: flex;
    flex-direction: column;
  }

  .start__input-l {
    max-width: 190px;
    padding: 18px 10px 10px 10px;
    font-size: 12px;
  }

  .start-btn {
    margin-top: 75px;
    margin-left: -55px;
    max-width: 190px;
    padding: 14px 30px;
    margin-left: -50px;
  }
}
